<?xml version="1.0" encoding="utf-8"?>
<launch>
  <param name ="/use_sim_time" value="true"/>
  <param name = "result_file" type="string" value="$(find lidar_image_projection)/result/C_T_L.txt"/>

  <param name= "project_only_plane" type="bool" value="false"/>
  <param name= "color_projection" type="bool" value="true"/>

  <param name = "camera_in_topic" type="string" value="/elas/image_disparity"/>
  <param name = "lidar_in_topic" type="string" value="/kitti/velo/pointcloud_edges"/>
  <param name = "camera_name" type="string" value="elas"/>
  
  <param name = "dist_cut_off" type="int" value="5"/>

  <param name = "cam_config_file_path" type="string" value="$(find lidar_image_projection)/config/kitti_camera_color_left.yaml" />
  <param name = "stddev_rot" type="double" value="0.0"/>
  <param name = "stddev_trans" type="double" value="0.0"/>
  <node  pkg="lidar_image_projection" name="lidar_image_projection" type="lidar_image_projection_node" output="screen">
  </node>
</launch>
